/** @format */
* {
  margin: 0;
  padding: 0;
  font-family: Inconsolata;
}
:root {
  --couleur-vert: rgba(210, 255, 88, 1);
  --couleur-violet: rgba(160, 138, 229, 1);
  --couleur-gradient-gradient: linear-gradient(90deg, #d2ff58 0%, #6e51d9 99%);
  --couleur-bg: rgba(15, 15, 17, 1);
}
body {
  background-color: var(--couleur-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 85%;
}
a {
  color: var(--couleur-vert);
}
.flash-success {
  color: var(--couleur-vert);
  text-align: center;
}
.flash-warning {
  text-align: center;
  color: var(--couleur-vert);
}
@media screen and (min-width: 390px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: var(--couleur-vert);
    padding: 1rem;
    margin-bottom: 5%;
    border: solid 2px;
    display: flex;
    justify-content: center;
    width: 95%;
    border-radius: 5%;
    font-family: Inconsolata;
    font-size: 70px;
    font-weight: 500;
    text-align: left;
  }
  p,
  label {
    color: var(--couleur-vert);
    font-family: Inconsolata;
    text-justify: auto;
  }
  h2 {
    color: var(--couleur-vert);
    font-size: 50px;
    font-weight: 500;
    text-align: center;
  }
  h3 {
    color: white;
    text-align: center;
    margin: 5% 0 5% 0;
  }
  h4 {
    color: var(--couleur-violet);
  }
  .savoir-faire {
    margin-top: 3%;
    user-select: none;
  }
  .grille-competences {
      width: 50%;
      color: white;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto 5%;
  }
   .grille-item {
    width: 85px;
    height: 85px;
    padding: 1%;
    border: 2px var(--couleur-vert) solid;
    border-radius: 5px;

  }
  /* Main container styling */
  .container-global {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 5% 0 5% 0;
  }

  /* Polygon grid container */
  .grid-container-pro {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px; /* Add some spacing between items */
    padding: 10px;
    justify-content: center;
    width: fit-content;
  }

  /* Individual polygon item */
  .grid-item-polygon {
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer; /* Change cursor to pointer for better UX */
  }

  /* Alternate margin for polygon items */
  .grid-item-polygon:nth-child(2n) {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  /* Text grid container */
  .grid-container-pro-texte {
    display: grid;
    grid-template-columns: auto;
    gap: 10px; /* Add some spacing between items */
    padding: 10px;
    width: 23%;
  }

  /* Individual text item */
  .grid-item-rectangle {
    background: linear-gradient(90deg, #d2ff58 0%, #a08ae5 100%);
    width: 270px;
    height: 75px;
    overflow: hidden;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    color: black;
    border: 1px solid var(--couleur-vert);
    display: none; /* Initially hide all grid items */
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition for opacity and transform */
  
  }

  /* Show grid item with smooth transition */
  .grid-item-rectangle.show {
    display: block;
    opacity: 1;
    transform: scale(1.05);
  }
  section.formations-projetpro {
    display: flex;
    flex-direction: column;
    gap: 4%;
    margin: 5% 0 5% 0;
  }
  .formation {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    width: 100%;
    margin: 5% 0 1% 0;
    align-items: center;
    justify-content: center;
  }
  .items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .gauche {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    row-gap: 5px;
  }
  .guache p {
    text-align: center;
  }
  .droite {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 55%;
    align-items: flex-start;
    row-gap: 14%;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 5% 0;
  }
  form > ul > li {
    color: red;
    text-align: center;
  }
  input {
    background-color: var(--couleur-bg);
    border-color: var(--couleur-vert);
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 1% 0 2% 0;
  }
  input#contact_message {
    height: 250px;
  }
  button#contact_save {
    background-color: var(--couleur-bg);
    border-color: var(--couleur-vert);
    color: white;
    border-radius: 10px;
    width: 75px;
    height: 30px;
  }
  .autres {
    margin: 5% 0 5% 0;
  }
}
